@import '../../../../../../styles/variables/_breakpoint.scss';
@import '../../../../../../styles/variables/_color.scss';
@import '../../../../../../styles/variables/_typography.scss';
@import '../../../../../../styles/variables/_consts.scss';

.reqPanel {
  display: flex;
  height: $reqPanelHeight;

  & .leftWrapper {
    width: 33.33%;
    height: 100%;
    border-top: 1px solid $borderColor;

    & .typeWrapper {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      align-items: center;
      padding: 10px;
    }
  }

  label {
    margin-top: 7px;
    @include caption1;
  }

  & .rightWrapper {
    width: 66.67%;
    height: 100%;
    border-top: 1px solid $borderColor;
    border-left: 1px solid $borderColor;
    & .formContainer {
      padding: 10px;
      overflow-y: auto;
    }
    & .noAuth {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    & .formControl {
      display: flex;
      flex-direction: row;
      align-items: center;

      & label {
        display: flex;
        flex: 1;
        min-width: 186px;
        max-width: 280px;
        align-self: flex-start;
        margin-top: 14px;
        margin-right: 10px;
      }

      & .inputText {
        width: 400px;
      }
    }
  }
}
