@import 'styles/variables/_breakpoint.scss';
@import 'styles/variables/_color.scss';
@import 'styles/variables/_typography.scss';

.title {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 300px;
}