@import 'styles/variables/_breakpoint.scss';
@import 'styles/variables/_color.scss';
@import 'styles/variables/_typography.scss';

.inputTextWrapper {
  width: 100%;
  margin-top: 30px;
}

.borderLabel {
  border: 1px solid $black;
  background-color: $grayDark;
  box-shadow: 2px 3px $grayDark;
  text-align: center;
  padding: 8px;
}

.requestWrapper {
  width: 100%;
}

.inputCell {
  display: flex;
  flex-direction: column;
  padding: 3px;
  & .smallText {
    @include caption2;
    align-self: flex-end;
  }
}

.responseWrapper {
  margin-top: 10px;
  width: 100%;

  & .resSuccessBtn {
    float: right;
    text-decoration: underline;
    color: $black;
  }

  & .resInputWrapper {
    margin-top: 50px;
  }
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 1px;
  margin: 1px;
  border-radius: 1px;
  width: 100%;
  margin-top: 20px;
  & .btnSave {
    background-color: $priBlue;
    color: $white;
  }

  & .btnCancel {
    border: 1px solid $priBlue;
    color: $priBlue;
  }
}

// .row {
//   &:last-child td, &:last-child th:
//   { border: 0 }
// }
