@import '../../../../../styles/variables/_breakpoint.scss';
@import '../../../../../styles/variables/_color.scss';
@import '../../../../../styles/variables/_typography.scss';

.spaceBetweenContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  & .cookieBtnWrapper {
  }
}

.tabsRoot {
  height: 30px;
  min-height: 30px;
}

.tabRoot {
  text-transform: unset;
  height: 30px;
  min-height: 30px;
}
