@import 'styles/variables/_breakpoint.scss';
@import 'styles/variables/_color.scss';
@import 'styles/variables/_typography.scss';

.nodeStatus {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  background-color: $lightGray;
  border-radius: 5px;
}

.initStatus {
  background-color: $lightGray;
}

.readyStatus {
  background-color: $yellowDark;
}

.runningStatus {
  background-color: $addtionalRed;
}

.successStatus {
  background-color: $green120;
}

.failureStatus {
  background-color: $black;
}

.endStatus {
  background-color: $purple;
}

.checkType {
  top: 20px;
  right: 15px;
}

.actionType {
  top: 10px;
  right: 20px;
}