@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif !important;
}

.MuiDrawer-paper {
  background-color: #3726A6 !important;
}

.logo {
  display: block;
  margin: 0 auto;
}

.MuiDrawer-paper .MuiListItem-button {
  color: #ACA9EF;
}

.MuiDrawer-paper .MuiListItem-button:hover {
  background-color: #281C77;
}

.MuiDrawer-paper .MuiSvgIcon-root {
  fill: #ACA9EF;
}

.ForwardRef-root-8 {
  height: 36px;
  border-radius: 25px;
  background-color: #F3F3F3;
  box-shadow: 0 0 0;
}

.MuiAppBar-root .MuiSvgIcon-root {
  fill: #666;
}

.overflow-section {
  padding: 20px 24px 20px 28px;
  background: #fff;
  margin: 0 -24px 20px -24px;
  width: calc(100% + 48px) !important;
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  display: none;
}

.MuiDrawer-root .menuClose {
  position: fixed;
  left: 260px;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in;
}

@media only screen and (max-width: 1350px) {

  .button-wrapper,
  .filter-wrapper {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }

  .button-wrapper {
    margin-bottom: 15px !important;
  }

  .filter-wrapper .MuiBox-root {
    justify-content: flex-start;
  }

  .label-filter {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-search-filter .MuiBox-root {
    width: 100%;
    margin-bottom: 15px;
  }

  .menu-open .MuiDrawer-root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(18, 43, 92, 0.7);
    transition: background 0.3s ease-in-out;
  }

  .menu-open .MuiDrawer-root .MuiDrawer-paper {
    left: 0;
    transition: left 0.3s ease-in-out;
  }

  .menu-open .MuiDrawer-root .menuClose {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
  }

  .menu-open .MuiDrawer-root .menuClose svg {
    width: 1.5em;
    height: 1.5em;
    fill: #d1d0ea;
  }

}