@import '../../../../../styles/variables/_breakpoint.scss';
@import '../../../../../styles/variables/_color.scss';
@import '../../../../../styles/variables/_typography.scss';

.tabsRoot {
  // width: 100%;
  flex: 1;
  & .status {
    justify-self: flex-end;
    align-self: center;
  }
}

.spaceBetweenContainer {
  display: flex;
  align-items: center;
  .status {
    justify-self: flex-end;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;

    .statusLabel {
      @include caption1;
      margin-right: 6px;
      margin-top: 8px;
    }

    .statusValue {
      height: 26px;
      padding: 6px;
      @include caption1;
    }
  }
}
