@import '../../../../../styles/variables/_color.scss';
@import '../../../../../styles/variables/_consts.scss';

.item {
  color: $contentColorSecondary;
  padding: 0px 0px;
}

.label {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: $contentColorPrimary;
  line-height: 20px;
  font-size: 12px;
}

.iconFolder {
  border: none;
  width: $iconSize;
  height: $iconSize;
  margin: 0px 6px;
}

.iconMethod {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: 400;
  padding-top: 1px;
  width: 30px;
  margin-right: 5px;
  text-align: right;
}

.actionButton {
  background-color: transparent;
  border: none;
  margin-right: 15px;
}

.iconExample {
  height: $iconSize;
  margin: 0px 4px;
}

.colorGreen {
  color: green;
}

.colorRed {
  color: red;
}

.colorOrange {
  color: orange;
}

.colorOrangred {
  color: orangered;
}

.colorGray {
  color: darkgray;
}

.colorBlue {
  color: blue;
}

.highlightBackgroundColorSecondary {
  background-color: $highlightBackgroundColorSecondary;
}

.spinner {
  --size: 16px;
  --clr-bg: #272324;
  --clr1: #bbbb88;
  --clr2: #ccc68d;
  --clr3: #eedd99;
  --clr4: #eec290;
  --clr5: #eeaa88;

  --animation-duration: 1000ms;

  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .spinnerItem {
    width: calc(var(--size) / 12);
    height: 80%;
    background: var(--clr-spinner);
    animation: spinner1 var(--animation-duration) ease-in-out infinite;

    @keyframes spinner1 {
      50% {
        transform: scaleY(0.25);
      }
    }
  }

  .spinnerItem:nth-child(1) {
    --clr-spinner: var(--clr1);
    animation-delay: calc(var(--animation-duration) / 10 * -3);
  }

  .spinnerItem:nth-child(2) {
    --clr-spinner: var(--clr5);
    animation-delay: calc(var(--animation-duration) / 10 * -1);
  }

  .spinnerItem:nth-child(3) {
    --clr-spinner: var(--clr3);
    animation-delay: calc(var(--animation-duration) / 10 * -2);
  }

  .spinnerItem:nth-child(4) {
    --clr-spinner: var(--clr4);
    animation-delay: calc(var(--animation-duration) / 10 * -1);
  }

  .spinnerItem:nth-child(5) {
    --clr-spinner: var(--clr2);
    animation-delay: calc(var(--animation-duration) / 10 * -3);
  }
}
