@import 'styles/variables/_breakpoint.scss';
@import 'styles/variables/_color.scss';
@import 'styles/variables/_typography.scss';

.root {
  position: relative;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.label div {
    font-family: monospace;
    font-weight: bold;
    color: black;
    font-size: 12;
}

