@import 'styles/variables/_breakpoint.scss';
@import 'styles/variables/_color.scss';
@import 'styles/variables/_typography.scss';

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: $white;
  box-shadow: 24px;
  border-radius: 14px;

  &:focus-visible {
    outline: none;
  }

  & .header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid $grayDark;
    @include bodyBold;
  }

  & .body {
    display: block;
    padding: 12px 24px;
  }
}
