@import '../../../../../../styles/variables/_breakpoint.scss';
@import '../../../../../../styles/variables/_color.scss';
@import '../../../../../../styles/variables/_typography.scss';
@import '../../../../../../styles/variables/_consts.scss';

.reqPanel {
  padding: 10px;
  height: $reqPanelHeight;
  & .formatContainer {
    display: flex;
    column-gap: 30px;
  }

  & .jsonWrapper {
    & .jsonEditor {
      min-height: 100px;
      height: auto;
      overflow-y: auto;
    }

    & .noBody {
      height: 30vh;
      text-align: center;
      @include caption1;
    }
  }
}
